html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  color: red;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}
